body {
  margin: 0;
  padding: 0;
  background-color: $asosiyrang;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;

  .col {
    width: 33%;
    padding: 20px $paddingmini;
  }
}
